<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <cpn>
      <template slot-scope="slot">
        <!-- <ul>
          <li :key="item" v-for="(item, index) in slot.data">{{item}} - </li>
        </ul> -->
        {{slot.data.join(" * ")}}
      </template>
    </cpn>
  </div>

  <template id="cpn">
    <div>
      <slot :data="language">
        <ul>
          <li :key="item" v-for="(item, index) in language">{{item}}</li>
        </ul>
      </slot>
    </div>    
  </template>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {},
      methods: {},
      components: {
        cpn: {
          template: '#cpn',
          data() {
            return {
              language: ["Js", "Java", "Python", "C#"]
            }
          },
        }
      }
    });
  </script>
</body>

</html>